<p>
  Name: <%= @project.name %>
</p>
<p>
  Description: <%= @project.description %>
</p>
<p>
  User List
</p>
<ul>
  <% @users.each do |user| %>
    <li>
      <p>
        <%= user.first_name %>
      </p>
      <p>
        <%= user.last_name %>
      </p>
      <p>
        <%= user.email %>
      </p>
    </li>
  <% end %>
</ul>
<p>
  Task List
</p>
<div class="tasks">
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <p>
          <%= task.name %>
        </p>
        <% if task.due_date.present? %>
          <p> <%= task.due_date %> </p>
        <% end %>
        <% if task.description.present? %>
          <p> <%= task.description %> </p>
        <% end %>
        <p>
          User assigned to the task:
        </p>
        <% if task.user.present? %>
          <p>
            <%= task.user.full_name %>
          </p>
        <% end %>
        <% if task.user.present? && task.user.email.present? %>
          <p> <%= task.user.email %> </p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
